:root {
    --neutral: #EFEFEF;
    --watermelon: #FF3B3F;
    --carbon: #A9A9A9;
    --sky: #CAEBF2;
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 1.5;
    background-color: var(--neutral);
    color: var(--carbon);
}

header {
    position: relative;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 10px 0;
    padding: 10px;
    background-color: var(--sky);
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 125%;
    color: black;
    margin-left: 20px;
}

main h3 {
    display: flex;
    align-items: flex-start;
    width:100%;
    text-align: left;
    margin-left: 30px;
}

footer {
    position: relative;
    font-size: 125%;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: var(--sky);
}

a {
    text-decoration: none;
    color: var(--watermelon)
}

.border {
    border: 2px solid var(--watermelon);
    width: 100%;
    position: absolute;
}

.content {
    display: flex;
    flex-flow: row wrap;
    width: 75%;
    font-size: 80%;
    margin: 3px;
}

.author {
    display: flex;
    align-items: flex-start;
    width: 100%;
    font-size: 50%;
}

#border-header {
    bottom: 0px;
}

#border-footer {
    top: 0px;
}