/* Variables */
:root {
    --neutral: #EFEFEF;
    --watermelon: #FF3B3F;
    --carbon: #A9A9A9;
    --sky: #CAEBF2;
    --darkgrey: #121212;
    --white: #F5F5F5;
    --darkpurple: #301934;
}

/* Universal Selectors */
* {
    margin: 0px;
    padding: 0px;
}

/* CSS for the body and html */
html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

/* CSS for the header */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

header.light-mode {
    background-color: var(--sky);
}

header.dark-mode {
    background-color: var(--darkpurple);
}

/* CSS for main section  */
main {
    width: 100%;
}

/* CSS for the form */
form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 125%;
}

form section {
    margin: 5px 0;
    padding: 5px 0; 
}

/* CSS for the footer */
footer {
    position: relative;
    font-size: 125%;
    line-height: 1.5;
    text-align: center;
    width: 100%;
}

footer.light-mode {
    background-color: var(--sky);
}

footer.dark-mode {
    background-color: var(--darkpurple);
}

footer.contact {
    padding: 5px 0;
}

/* CSS for the a element */
a {
    text-decoration: none;
    color: var(--watermelon)
}

/* CSS for light/dark mode */
.light-mode {
    background-color: var(--neutral);
    color: var(--carbon);
}

.dark-mode {
    background-color: var(--darkgrey);
    color: var(--white);
}

/* CSS for the toggle button */
.div-switch {
    padding: 2px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* CSS for the borders on header and footer */
.border {
    border: 2px solid var(--watermelon);
    width: 100%;
}

/* CSS so footer is at the bottom */
.wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

/* CSS for the individual form sections */
#blog-heading {
    flex: 0 0 100%;
    text-align: center;
}

#blog-post-section {
    flex: 0 0 100%;
}

#submit-section {
    flex: 0 0 100%;
}

#blog-post {
    width: 200px;
    height: 100px;
    resize: none;
}

/* CSS so textarea label is above the textarea */
#blog-post-section label {
    display: block;
}

#blog-post-section textarea {
    display: block;
}

/* CSS for submit button */
#submit {
    width: 100px;
    height: 50px;
    background-color: lightslategray;
    color: #000;
    font-size: 150%;
}

/* CSS for the borders */
#border-header {
    bottom: 0px;
}

#border-footer {
    top: 0px;
}

/* CSS for medium sized screens */
@media screen and (min-width: 768px) {
    form {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    /* sets toggle switch to the on the right side of the header */
    .div-switch {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #full-name-section {
        flex: 0 0 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #title-section {
        flex: 0 0 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #blog-post-section {
        flex: 1 0 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #submit-section {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #blog-post {
        width: 700px;
        height: 300px;
        resize: none;
    }
}